.Header
  .Header__logo
    waffle_reserve
  .Header__info
    .Header__info--user
      yuta
    .Hesder__info--logout
      log
.Contents
  = image_tag "/waffleB.jpg", alt: "トップ画面", class: "Contents__image"
.Select
  %h1.Select__waffle
    menu
  %p.Select__waffleB
    お好きなワッフルを選んでください
.Waffles
  .Waffles__box
    = image_tag "/plain.jpg", alt: "プレーン", class: "Waffles__box--image"
    .Waffles__box--title
      プレーンワッフル
    .Waffles__box--text
      蜂蜜とバターの風味豊かなワッフルです
    .Waffles__box--price
      130円（税抜き）
  .Waffles__box
    = image_tag "/choco.jpg", alt: "チョコ", class: "Waffles__box--image"
    .Waffles__box--title
      チョコワッフル
    .Waffles__box--text
      ビタースウィートチョコをコーティングしました
    .Waffles__box--price
      150円（税抜き）
  .Waffles__box
    = image_tag "/matcha.jpg", alt: "宇治抹茶", class: "Waffles__box--image"
    .Waffles__box--title
      宇治抹茶ワッフル
    .Waffles__box--text
      京都産宇治抹茶と北海道小豆を練り込んだワッフルです
    .Waffles__box--price
      150円（税抜き）
  .Waffles__box 
    = image_tag "/remon&tea.jpg", alt: "檸檬と紅茶", class: "Waffles__box--image"
    .Waffles__box--title
      檸檬紅茶ワッフル
    .Waffles__box--text
      蜜漬けレモンピールとダージリンの茶葉を練り込んだワッフルです
    .Waffles__box--price
      150円（税抜き）
  .Waffles__box
    = image_tag "/maple.jpg", alt: "メープル", class: "Waffles__box--image"
    .Waffles__box--title
      メープルワッフル
    .Waffles__box--text
      メープルシロップを使用したコクのある味わいのワッフルです
    .Waffles__box--price
      150円（税抜き）
  .Contents__price
  .Contents__form