!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WaffleReserve
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    .Header
      .Header__logo
        = link_to orders_path do
          waffle_reserve
      .Header__info
        - if user_signed_in?
          .Header__info--user
            .user_name
              = link_to "/users/#{current_user.id}" do
                = icon('fas', 'user')
                = current_user.Name
            .user_out
              = link_to  destroy_user_session_path, method: :delete do
                = icon('fas', 'sign-out-alt')
                ログアウト
        - else
          .Header__info--user
            .user_name
              = link_to new_user_session_path do
                = icon('fas', 'sign-in-alt')
                ログイン
            .user_out
              = link_to new_user_registration_path do
                = icon('fas', 'user-plus')
                新規登録
    = yield